@import "~antd/dist/antd.css";

#root {
  height: 100%;
  --color:#993c44;
}

.App__layout {
  height: 100%;
}

.App__layout .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.App__layout .site-layout-background {
  background: #fff;
  height: 100%;
}
.App__layout .site-layout-background iframe {
  border: none;
}
.App__layout .site-layout-sub-header-background{
  background:white;
  color:black;
}
.App__modal-list {
}
.header__breadcrumb {
  margin: 16px;
}
.header__breadcrumb > span:last-child{
  color: var(--color);
}
/* .header__breadcrumb-item, .breadcrumb__seperator  {
  color: black;
} */
.breadcrumb__seperator {
}
.header__carousal .carousal__list-item {
}
.layout__sider {
  background: #d6cecc;
}
.layout__sider .sider__menu {
  background: transparent;
}
.layout__sider .sider__menu .ant-menu-submenu-active .ant-menu-submenu-title .ant-menu-submenu-arrow{
  color: dark;
}
.layout__sider .sider__menu .ant-menu-submenu-active .ant-menu-submenu-title:hover{
  color:var(--color) !important;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
  color:var(--color) !important;
}
.layout__sider .sider__menu .ant-menu-submenu-title:active{
  background: transparent;
}
.layout__sider .sider__menu .ant-menu-submenu-active .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow{
  color:var(--color) !important;
}
.layout__sider .sider__menu .ant-menu-submenu-selected{
  color:var(--color);
}
.layout__sider .sider__menu .ant-menu-item-selected{
  color:var(--color);
  background:white;
  border-radius: 20px 0px 0px 20px;
}
.layout__sider .sider__menu .ant-menu-item-selected::after{
  opacity:0;
}
.layout__sider .sider__menu .ant-menu-sub.ant-menu-inline{
  background: transparent;
}
.layout__sider .sider__menu .ant-menu.ant-menu-sub.ant-menu-inline{
  padding-left: 0.5em;
}
.layout__sider .sider__menu .ant-menu-item:active, .ant-menu-submenu-title:active{
  background:transparent;
}

.layout__sider .sider__menu .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
  transition: border-color 0.3s, padding 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}